<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Albums</h1>
    <ul>
        <% for (let i = 0; i < page.albumsParsed.length; i++) { %>
            <li class="album">
              <h1> <%= page.albumsParsed[i].Title %></h1>
              <h2 class="band">-<%= page.albumsParsed[i].Name %></h2>
            </li>
        <% } %>
        </ul>
        <footer>
            <% for(let page of pages){ %>
                <% let index = pages.indexOf(page) + 1 %> 
                <a href="<%= page.fileName %>"> <%= index %></a>
            <% } %>
        </footer>
</body>
</html>